<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quanta.demo0.mapper.BrowseHistoryMapper">
    <!-- 插入浏览记录 -->
    <insert id="insertOrUpdateBrowseHistory">
        INSERT INTO tb_browse_history
        (user_id, content_id, browse_date, create_time, update_time, is_deleted)
        VALUES
            (#{userId}, #{contentId}, #{browseDate}, NOW(), NOW(), 0)
            ON DUPLICATE KEY UPDATE
                                 create_time = NOW(),
                                 update_time = NOW()
    </insert>
    <delete id="clearBrowseHistory">
        DELETE FROM tb_browse_history
        WHERE user_id = #{userId}
          AND is_deleted = 0
    </delete>
    <select id="selectBrowseHistoryContentIds" resultType="java.lang.Long">
        SELECT content_id
        FROM tb_browse_history
        WHERE user_id = #{userId}
          AND is_deleted = 0
        ORDER BY create_time DESC
    </select>

</mapper>
