<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quanta.demo0.interaction.mapper.ContentInteractionMapper">
    <insert id="insertContentLiked" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO tb_content_like (content_id, user_id, create_time)
        VALUES (#{contentId}, #{userId}, #{createTime})
    </insert>

    <insert id="insertCollect" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO tb_content_collect (content_id, user_id, create_time)
        VALUES (#{contentId}, #{userId}, #{createTime})
    </insert>

    <insert id="insertContentReport" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_content_report
        (content_id, reporter_id, report_type, status, is_deleted, create_time, update_time)
        VALUES
        (#{contentId}, #{reporterId}, #{reportType}, #{status}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>
</mapper>
